<p id="notice"><%= notice %></p>

<h1>Listing Changes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Id</th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <tr>
        <td><%= change.fetch(:id) %></td>
        <td><%= link_to 'Show', change_path(id: change.fetch(:id)) %></td>
        <td><%= link_to 'Destroy', change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
