<p id="notice"><%= notice %></p>

<h1>Listing Changes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Id</th>
    </tr>
  </thead>

  <tbody>
    <% @changes.each do |change| %>
      <% id = change.fetch(:id) %>
      <tr>
        <td><%= id %></td>
        <td><%= link_to 'Show', change_path(id: id) %></td>
        <td><%= link_to 'Destroy', change_path(id: id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
